:root{
  font-size: 16px;
  margin: 0;
  --primary-color: #ff9085;
  --secondary-color: #fdb947;
  --tertiary-color: #9971d3;
  --main-gradient: linear-gradient(to right, var(--primary-color), var(--secondary-color))
}

#home{
  padding: 4.5rem 0 3rem 0;
  background: var(--main-gradient);
}
.container-fluid, .navbar{
  position: fixed !important;
  top: 0;
  padding: 0 !important;
  flex-wrap: nowrap !important;
}
.nav-item{
  cursor: pointer;
  white-space: nowrap;
  height: 100%;
}
.nav-item:hover{
  background-color: #e6e6e6;
}
.custom-nav {
  display: flex;
  overflow-x: auto;
  flex-flow: row nowrap !important;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}
.calculator-container{
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}
/*Header CSS*/
.main-title, .home-question{
  color: white;
}
.home-question{
  font-size: 1.5rem;
  cursor: pointer;
  font-weight: 400;
  animation: ease-in-out all 0.3s;
  align-items: center;
  justify-content: center;
}
.home-question:hover{
  transform: scale(1.01);
}

/*Calculator & Results*/
.calculator-container{
  max-width: 900px;
  width: 95vw;
  border: solid #ddd 1px;
  border-radius: 8px;
}
.form-container{
  flex: 1;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}
.side-image-container{
  max-width: 400px;
  width: 85vw;
  margin: 1rem;
}
.side-image-container igm{
  max-width: 366px;
  width: 90%;
  aspect-ratio: 1/1;
}
button.submit-calculator{
  width: 95%;
}

/*Information*/
.info{
  background: var(--main-gradient);
  padding: 3rem 1rem;
  border-radius: 92px 0;
  color: #fff;
}
.info-card{
  max-width: 400px;
  width: 90%;
  text-align: justify;
  border-radius: 12px;
  padding: 1rem;
  margin: 0.5rem;
  background-color: #fffcfd;
  color: #111;
}
.info-main-title{
  font-size: 2.5rem;
}
.info-title{
  text-align: center;
  margin-bottom: 1.5rem;
}

/*Footer*/
.footer-info{
  padding: 2rem 0 1rem 0;
  justify-content: center;
  flex-flow: row wrap;
  color: #333;
}
.footer-info a{
  text-decoration: none;
  color: #333;
  padding-right: 0.5rem;
}
.footer-info a:hover{
  color: #000;
}
.github-link{
  align-items: center;
}