:root{
  font-size: 16px;
  margin: 0;
  --primary-color: #ff9085;
  --secondary-color: #fdb947;
  --tertiary-color: #9971d3;
  --main-gradient: linear-gradient(to right, var(--primary-color), var(--secondary-color))
}
#root {
  width: 100vw;
  height: 100vh;
}
#home{
  padding-top: 72px;
  background: var(--main-gradient);
}
.container-fluid, .navbar{
  position: fixed !important;
  top: 0;
  padding: 0 !important;
  flex-wrap: nowrap !important;
}
.nav-item{
  cursor: pointer;
  white-space: nowrap;
  height: 100%;
}
.nav-item:hover{
  background-color: #e6e6e6;
}
.custom-nav {
  display: flex;
  overflow-x: auto;
  flex-flow: row nowrap !important;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}
.calculator-container{
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}
.form-container{
  flex: 1;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}
.side-image-container img{
  flex: 1;
  width: 400px;
  margin: 1rem;
}
.calculator-container{
  max-width: 900px;
  height: max-content;
  width: 95vw;
  border: solid #ddd 1px;
  border-radius: 8px;
}
.calculator-text{
  width: 90% !important;
}
.navbar{
  background-color: white !important;
}

/*Information*/
.info{
  background: var(--main-gradient);
  padding: 2rem 1rem;
  border-radius: 92px 0;
  color: #fff;
}
.info-card{
  text-align: justify;
  border-radius: 12px;
  max-width: 400px;
  padding: 1rem;
  margin: 0.5rem;
  background-color: #fffcfd;
  color: #111;
}
.info-main-title{
  font-size: 2.5rem;
}
.info-title{
  text-align: center;
  margin-bottom: 1.5rem;
}

/*Footer*/
.footer-info{
  padding: 2rem 0 1rem 0;
  justify-content: center;
  flex-flow: row wrap;
  color: #333;
}
.footer-info a{
  text-decoration: none;
  color: #333;
  padding-right: 0.5rem;
}
.footer-info a:hover{
  color: #000;
}
.github-link{
  align-items: center;
}